<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>    
            <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                        <!-- left side div  -->
                        <div class="col-md-6 col-12 main_header_left">
                            <figure>
                                <img  src="img/404.png" alt="img" class="img-fluid" title="Error page">
                            </figure>

                        <p>Welcome to AKSARA Technical World</p>
                        <h1>Opps! Page not found</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>        

    {{>bodyLinks}}
</body>
</html>