<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLink}}
</head>
<body>
   
     {{>navbar}}

            <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                        <!-- left side div  -->
                        <div class="col-md-6 col-12 main_header_right">
                            <figure>
                                <img src="./img/about.png" alt="img" class="img-fluid" title="Amul Sharma">
                            </figure>
                </div>
                <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to AKSARA Technical World</p>
                        <h1>I am a <span class="weatherText">Software Developer</span>, Blogger And A Freelancer</h1>
                        <a href="https://amulsharma.netlify.app/"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>        
    <!-- footer code  -->
     {{>footer}}

    {{>bodyLinks}}
</body>
</html>